body{
    text-align: center;
    background-color: #090c0e;

}
#Id


{
    width: 100%;
  
}

h1{
  height: 150px;
  
    color:#ffffff;
        
  
  background-color: #090c0e;
 
  font-size: 80px;
   
  font-style: italic;
 
}
h2{
    Color: #8b0000	
 <!---
define a cor do segundo título
--->
}
