body{
    text-align: center;
    background-color: #2e2e2e;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}
#imagem{
  width:50%;
}

h1{
  height: 150px;
  
    color:#8b0000;
        
  
  background-color: #2e2e2e;
 
  font-size: 80px;
   
  font-style: italic;
 
}
h2{
    Color: #8b0000	
}
