body{
    text-align: center;
    background-color: #222016;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}
#imagem{
  width:50%;
}

h1{
  height: 150px;
  
    color:#b30300;
        
  
  background-color: #222016;
 
  font-size: 80px;
   
  font-style: italic;
 
}
h2{
    Color: #b30300	
}
